@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   color: rgb(0, 0, 0);
   font-family: 'M PLUS Rounded 1c', sans-serif;
}
body{
    background-color: rgba(174, 169, 67, 0.396);
}
.card{
    width: 75%;
    margin-left: 12.5%;
    background: rgba(174, 169, 67, 0.396);
}
.card .card-body{
    background-image: url("../img/cim.PNG");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 600px;
}
#login{
    background-color: rgba(55, 54, 127, 0.678);
    
}
#sigup{
    background-color: rgba(124, 40, 117, 0.678);
    
}

